:root {
    --red:#ee0000;
    --red-hover: #d00000;
    --white:#e1e1e1;
    --grey:#b1b1b1;
    --light: #303030;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea {
    border: none;
}

/* componen */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'kanit', sans-serif;
    color: var(--white);
    background-color: rgb(29, 29, 29);
    padding: 0px 5%;
}

a {
    color: var(--white);
    transition: 200ms;
}

a:hover {
    color: var(--red);
}

h1 {
    font-size: 3.6vw;
    font-weight: 700;
    color: var(--white);
    line-height: normal;
}

h2 {
    font-size: 2.3vw;
    font-weight: 600;
    color: var(--red);
}

h3 {
    font-size: 2.3vw;
    text-align: center;
}

h4 {
    font-weight: 500;
    font-size: 1.2vw;
}

h5 {
    font-family: arial, sans-serif;
    color: var(--grey);
    font-size: 1.5vw;
}

h6 {
    font-size: 0.8vw;
    color: var(--grey);
}

section {
    margin-top: 3vw;
    margin-bottom: 6vw;
}

button {
    font-family: 'Inter Tight';
    font-weight: 500;
    transition: 200ms;
    border: none;
    width: 100%;
    color: var(--white);
    background-color: var(--red);
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0);
    outline: .1vw solid var(--red);
}

button.one {
    border-radius: .5vw;
    padding: 1vw;
    font-size: 2vw;
}

button.two {
    border-radius: .3vw;
    padding: .7vw;
    font-size: 1vw;
}

/* card */
.card {
    border-radius: 1vw;
    width: 20vw;
    background-color: #303030;
    font-family: "segoe ui";
    color: white;
    padding-bottom: 1.5vw;
    overflow: hidden;
}

.card-img {
    width: 100%;
    margin-bottom: 1.5vw;
    border-radius: 0 0 0 2.5vw;
}

.card-content {
    padding: 0 8%;
}

.button-card-container {
    margin-top: 10%;
    width: 100%;
}
/* end card */


/* document */

nav {
    display: flex;
    justify-content: center;
    padding: 2% 30%;
}

nav ul {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-size: 1.6vw;
    font-weight: 300;
}

/* container */

main {
    margin-top: 5%;
}

.home-container {
    display: flex;
    justify-content: space-between;
}

.home-title-container {
    width: 60%;
    position: relative;
}

.home-banner-img {
    width: 30%;
}

.button-home-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}


/* portofolio */
.portofolio-container {
    display: flex;
    align-items: center;
    position: relative;
}

.portofolio-container h4, 
.portofolio-container h6 {
    margin: .6vw 0;
}

.kiri, .kanan {
    position: absolute;
    color: aliceblue;
    z-index: 11;
    top: 50%;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.5vw;
    background-color: rgba(0, 0, 0, 0.214);
    border-radius: 50%;
    cursor: pointer;
    transition: 80ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kiri:hover, .kanan:hover {
    position: absolute;
    color: rgb(207, 207, 207);
    z-index: 11;
    top: 50%;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.5vw;
    background-color: gba(0, 0, 0, 0.214);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kiri:active, .kanan:active {
    position: absolute;
    color: aliceblue;
    z-index: 11;
    top: 50%;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.5vw;
    background-color: rgba(138, 138, 138, 0.214);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kiri {
    left: 0;
}

.kanan {
    right: 0;
}

.card-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/4);
    overflow: hidden;
    gap: 5vw;
    position: relative;
    scroll-behavior: smooth;
    gap: 1%;
}


/* about me */

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-card {
    display: inline-block;
    cursor: pointer;
}

.about-img {
    width: 13vw;
    height: 13vw;
    border: 0.2vw solid var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    transition: 500ms;
}

.about-card:hover .about-img {
    width: 13vw;
    height: 13vw;
    border: 0.2vw solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    transition: 500ms;
    opacity: 50%;
}

.about-img img {
    width: 85%;
    border-radius: 50%;
}

.about-card h4 {
    text-align: center;
    transition: 200ms;
}

.about-card:hover h4 {
    text-align: center;
    opacity: 0;
}

.about-card h6 {
    opacity: 0%;
    transition: 500ms;
    text-align: center;
    position: absolute;
}

.about-card:hover h6 {
    text-align: center;
    opacity: 100%;
    margin-top: -20vw;
}

/* skill & tools */

.tools-container {
    width: 100%;
    height: 8vw;
    background-image: linear-gradient(rgba(212, 212, 212, 0.048), rgba(0, 0, 0, 0.097));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.tools-container img {
    width: 4vw;
    height: 4vw;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 200ms;
}

.tools-container img:hover {
    width: 4vw;
    height: 4vw;
    filter: grayscale(0%);
    cursor: pointer;
    transition: 200ms;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.482));
}

/* contact */

.contact-container {
    display: flex;
    justify-content: space-between;
    background-image: url('../img/contact-bg.png');
    background-size:60% ;
    background-repeat: no-repeat;
}

.contact-container .bio-container {
    width: 45%;
}

.contact-container .bio-container .bio {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
    margin: 1vw 0;
    text-align: left;
    line-height: normal;
    color: #ff0000;
}

.contact-container .bio-container .bio .icon {
    width: 1.8vw;
    height: 1.8vw;
}

.contact-container .bio-container .bio h4 {
    font-weight: 400;
}

.contact-container .bio-container .bio h6 {
    font-weight: 200;
}

.contact-container form {
    width: 55%;
}

.contact-container form div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 1vw 0;
}

.contact-container form div input, 
.contact-container form div textarea {
    width: 100%;
    background-color: var(--light);
    color: var(--white);
    padding: 1vw 1.5vw;
    font-family: 'Inter Tight';
    font-size: 1vw;
}

.contact-container form div input:focus, 
.contact-container form div textarea:focus {
    outline: 1px solid var(--red);
}

.contact-container form div textarea {
    height: 5vw;
}


/* footer */

footer {
    display: flex;
    justify-content: center;
    padding: 5vw;
    font-family: 'Inter Tight';
    color: var(--light);
    font-size: 1vw;
    text-align: center;
    background-color: rgb(21, 21, 21);
}

footer div div {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 1vw 0; 
}

footer .icon {
    width: 2vw;
    height: 2vw;
}


