:root {
    --red:rgb(255, 0, 0);
    --white:rgb(225, 225, 225);
    --grey:rgb(177, 177, 177);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* content */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'kanit', sans-serif;
    color: var(--white);
    background-color: rgb(29, 29, 29);
    padding: 0px 5%;
}

h1 {
    font-size: 3.6vw;
    font-weight: 700;
    color: var(--white);
    line-height: normal;
}

h2 {
    font-size: 2.3vw;
    font-weight: 600;
    margin-bottom: 1% ;
    color: var(--red);
}

h3 {
    font-size: 2.3vw;
    text-align: center;
}

h4 {
    font-weight: 500;
    font-size: 1.2vw;
}

h5 {
    font-family: arial, sans-serif;
    color: var(--grey);
    font-size: 1.5vw;
    margin-top: 1vw;
}

h6 {
    font-size: 0.8vw;
    padding: 0.5vw 0;
    color: var(--grey);
}


nav {
    display: flex;
    justify-content: center;
    padding: 2% 30%;
}

nav ul {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-size: 1.6vw;
    font-weight: 300;
}

/* container */

main {
    margin-top: 5%;
}

.home {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6vw;
}

div .title-home {
    width: 60%;
    position: relative;
}

button.mail {
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    border: 0;
    padding: 1.6vw 0vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5%;
    font-size: 2vw;
    color: white;
    cursor: pointer;
}

img.foto {
    width: 30%;
}


/* project */
section {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 3vw;
    margin-bottom: 6vw;
}

.kiri, .kanan {
    position: absolute;
    color: aliceblue;
    z-index: 11;
    top: 50%;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.5vw;
    background-color: rgba(0, 0, 0, 0.214);
    border-radius: 50%;
    cursor: pointer;
    transition: 80ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kiri:hover, .kanan:hover {
    position: absolute;
    color: rgb(207, 207, 207);
    z-index: 11;
    top: 50%;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.5vw;
    background-color: gba(0, 0, 0, 0.214);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kiri:active, .kanan:active {
    position: absolute;
    color: aliceblue;
    z-index: 11;
    top: 50%;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0.5vw;
    background-color: rgba(138, 138, 138, 0.214);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kiri {
    left: 0;
}

.kanan {
    right: 0;
}

.card-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/4);
    overflow: hidden;
    gap: 5vw;
    position: relative;
    scroll-behavior: smooth;
    gap: 1%;
}

.card-project {
    border-radius: 1vw;
    width: 20vw;
    background-color: rgb(48, 48, 48);
    font-family: "segoe ui";
    color: white;
    padding-bottom: 1.4vw;
    overflow: hidden;
}

.card-project img {
    width: 100%;
    margin-bottom: 1.5vw;
    border-radius: 0 0 0 2.5vw;
}

.title-card {
    padding: 0 1.5vw;
}

div.div-button {
    display: flex;
    justify-content: center;
}

.card-project button {
    width: 100%;
    border-radius: 0.3vw;
    color: var(--white);
    border: 0;
    background-color: var(--red);
    font-size: 1vw;
    padding: 0.5vw;
    margin-top: 2vw;
    transition: 200ms;
    cursor: pointer;
}

.card-project button:hover {
    width: 100%;
    border-radius: 0.3vw;
    color: var(--white);
    border: 0;
    background-color: rgb(221, 0, 0);
    font-size: 1vw;
    padding: 0.5vw;
    margin-top: 2vw;
    cursor: pointer;
}

/* about me */

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 6vw;
}

.about-card {
    display: inline-block;
    cursor: pointer;
}

.about-img {
    width: 13vw;
    height: 13vw;
    border: 0.2vw solid var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    transition: 500ms;
}

.about-card:hover .about-img {
    width: 13vw;
    height: 13vw;
    border: 0.2vw solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    transition: 500ms;
    opacity: 50%;
}

.about-img img {
    width: 85%;
    border-radius: 50%;
}

.about-card h4 {
    text-align: center;
    transition: 200ms;
}

.about-card:hover h4 {
    text-align: center;
    opacity: 0;
}

.about-card h6 {
    opacity: 0%;
    transition: 500ms;
    text-align: center;
    position: absolute;
}

.about-card:hover h6 {
    text-align: center;
    opacity: 100%;
    margin-top: -20vw;
}

/* skill & tools */

.tools-container {
    width: 100%;
    height: 8vw;
    background-image: linear-gradient(rgba(212, 212, 212, 0.048), rgba(0, 0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-top: 3vw;
    margin-bottom: 6vw
}

.tools-container img {
    width: 4vw;
    height: 4vw;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 200ms;
}

.tools-container img:hover {
    width: 4vw;
    height: 4vw;
    filter: grayscale(0%);
    cursor: pointer;
    transition: 200ms;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.482));
}

